<div class="col">
  <div class="card shadow-sm">
    <img
      src="{{ product.pictureUrl }}"
      alt="{{ product.name }}"
      class="img-fluid bg-success"
    />
    <div class="card-body">
      <a>
        <h5 class="text-uppercase fw-bold">{{ product.name }}</h5>
      </a>
      <span class="mb-2">{{ product.price | currency }}</span>

      <div class="btn-group">
        <button type="button" class="btn btn-sm btn-outline-secondary me-2">
          <i class="fa fa-shopping-cart"></i>
        </button>
        <button
          type="button"
          class="btn btn-sm btn-outline-secondary"
          [routerLink]="['/shop', product.id]"
        >
          View
        </button>
      </div>
    </div>
  </div>
</div>
