<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="assets/images/logo.png"
        style="max-height: 60px"
        alt="logo"
        routerLink="/"
      />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav m-auto text-uppercase fs-5 fw-bold mb-2 mb-md-0">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/shop']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Shop</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link"
            aria-current="page"
            href="#"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Contact</a
          >
        </li>
      </ul>
      <div class="d-flex align-items-center">
        <a class="position-relative">
          <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
          <div class="cart-no">5</div>
        </a>
        <a class="btn btn-outline-secondary mx-2">Login</a>
        <a class="btn btn-outline-secondary mx-3">Sign up</a>
      </div>
    </div>
  </div>
</nav>
