.cart-no {
  position: absolute;
  min-height: 20px;
  min-width: 20px;
  border-radius: 100%;
  font-size: 1em;
  background-color: darkblue;
  color: white;
  text-align: center;
  top: -12px;
  right: 32px;
}
